body {
  background-color: #060e18;
}
::-webkit-scrollbar {
  display: none;
}
.hero-roadMap-container {
  background: linear-gradient(to bottom, #101525 50%, #0f172b);
}
.navbar {
  padding: 8px 88px 8px 96px;
}
@media (max-width: 600px) {
  .navbar {
    padding: 8px 16px 8px 20px;
  }
}
.navbar-language-container {
}

.hero-container {
  /* background-image: url('../images/backgroundLogo.png'); */
  /* background-size: 'cover'; */
}

.layout-background-image {
  position: absolute;
  right: 10px;
  top: -170px;
  width: 790px;
}

@media (max-width: 600px) {
  .layout-background-image {
    /* right: -55px;
  top: -170px;
  width:590px; */
    /* height:180; */
  }
}

.layout-background-image-container {
}

.hero-title-position {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.hero-title {
  color: var(--title-header-text, #fff);
  text-align: center;
  font-family: Segoe UI;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -1px;
}
@media (max-width: 600px) {
  .hero-title {
    font-size: 24px;
  }
}
/* .hero-big-heading{
  color: #FFF;
  font-family: Segoe UI;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1px;
}
@media (max-width: 600px) {
 .hero-big-heading{
  font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 44px;
letter-spacing: -1px;
 }
} */

/* .description{
  color: var(--title-header-text, #FFF);
font-family: 'Segoe UI';
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.3px;
text-align: left;
opacity: 0.800000011920929;
}
@media (max-width:600px) {
  .description{
    font-size: 15px;
    line-height: 20px; 
  }
} */

/* .download-app-text{
  color: var(--title-header-text, #FFF);
font-family: Segoe UI;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.3px;
} */
.button-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
@media (max-width: 600px) {
  .button-container {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}
.store-button {
  display: flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--chip, #48494e);
  background: var(--black-text-on-primary-color, #020204);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
}
@media (max-width: 600px) {
  .store-button {
    padding: 12px 29px;
    flex: 1 0 0;
  }
}
/* .hero-heading-container{

}
@media (max-width: 600px){
  .hero-heading-container{
    margin-bottom: 100px;
  }
} */

/* .button-text-container{
  font-family: Segoe UI;
  color: var(--title-header-text, #FFF);
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
text-align: left;
margin-left: 11px;
} */
.hero-right-container {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
}
.hero-right-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(16, 21, 37, 0) 60.33%,
    #101525 95.02%
  );
  z-index: 1;
}
.hero-iphone-img-container {
  /* background-color:#101525 ;
  z-index: 0; */
}

.hero-iphone-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* opacity: 0.5; */
}
.hero-iphone-sell1-image {
  position: absolute;
  z-index: 3;
  left: 210px;
  top: -70px;
  width: 50px;
}
.hero-iphone-sell2-image {
  position: absolute;
  z-index: 3;
  right: 60px;
  bottom: 40px;
  width: 50px;
}

@media (max-width: 600px) {
  .hero-right-container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hero-iphone-image {
    width: 203px;
  }
  .hero-iphone-sell2-image {
    width: 41px;
    right: 40px;
    bottom: 20px;
  }
  .hero-iphone-sell1-image {
    width: 41px;
    left: 140px;
    top: -50px;
  }
  .hero-iphone-img-container {
  }
}
.roadmap-container {
  padding-top: 120;
  padding-bottom: 120;
}
@media (max-width: 600px) {
  .roadmap-container {
    padding-top: 46px;
    padding-bottom: 48px;
  }
}
.roadmap-button-container {
}
@media (max-width: 600px) {
  .roadmap-button-container {
    width: 100%;
  }
}

/* .feature-title{
  color: #EDF5FF;
text-align: center;
font-family: Segoe UI;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 44px;
font-variant: all-small-caps;
}
@media (max-width:600px) {
  .feature-title{
font-size: 29px;
line-height: 32px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 4px;
  }
} */

/* .feature-note{
  color: rgba(237, 245, 255, 0.72);
text-align: center;
font-family: Segoe UI;
font-size: 12.5px;
font-style: italic;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.3px;
}
@media (max-width:600px) {
  .feature-note{
font-size: 14px;
  }
} */
/* .gradient-title{
  font-size: 36px;
  font-style: normal;
  text-align: left;
  font-weight: 600px,
}
@media (max-width:600px) {
  .gradient-title{
    font-size: 30px;
    line-height: 36px;
  }
} */
.unforget-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media (max-width: 600px) {
  .unforget-container {
    margin-top: 32px;
    margin-bottom: 100px;
  }
}
.unforget-image-container {
  position: relative;
}
.unforget-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(16, 21, 37, 0) 50.33%,
    #0f172b 85.02%
  );
  z-index: 1;
}
.unforget-title {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-bottom: 32;
}
@media (max-width: 600px) {
  .unforget-title {
    padding-bottom: 16px;
  }
}
.timeline-image {
  width: 100%;
  min-width: 1150px;
}

.footer-container {
  width: 100%;
  align-items: center;
}
.footer-title {
  color: #a6a4b0;
  font-family: Segoe UI;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.33px;
  text-align: center;
}
/* .footer-ltd{
  font-family: Segoe UI;
  color: var(--subtitle, #A6A4B0);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.33px;
  padding: 16px 88px;
  background: #101525;
} */
.discover-container {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  align-items: center;
}
@media (max-width: 600px) {
  .discover-container {
    padding-bottom: 0px;
  }
}
.discover-title-container {
  /* margin-right: 40px; */
}
.discover-title {
  font-family: Segoe UI;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  color: #f2fff7;
}
.discover-title-container {
}
@media (max-width: 600px) {
  .discover-title-container {
    padding-bottom: 16px;
  }
}
.discover-description {
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .discover-description {
    margin-bottom: 32px;
  }
}
.discover-arrow-image {
  width: 450px;
}
.discover-arrowSm-image {
  width: 80px;
  height: 200px;
  position: absolute;
  top: 240px;
  left: 320px;
  display: none;
}
@media (max-width: 600px) {
  .discover-arrow-image {
    display: none;
  }
  .discover-arrowSm-image {
    display: flex;
  }
}
.discover-arrow-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  left: -5px;
}

.discover-video-container {
  margin-left: 40px;
  display: flex;
  justify-content: flex-end;
}
.discover-gif {
  width: 480px;
  height: 380px;
}
@media (max-width: 600px) {
  .discover-gif {
    width: 358px;
    height: 284px;
  }
}
.gearup-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gearup-image-container {
}
@media (max-width: 600px) {
  .gearup-image-container {
  }
}
.gearup-title-container {
  display: flex;
  flex-direction: column;
}
.gearup-gif-container {
  align-self: flex-start;
}
.gearup-title-dash {
  position: relative;
}
.gearup-dash-image-container {
  width: 112px;
  height: 10px;
  position: relative;
  top: -15px;
  left: 200px;
}
@media (max-width: 600px) {
  .gearup-dash-image-container {
    width: 112px;
    height: 10px;
    position: relative;
    top: -10px;
    left: 150px;
    margin-bottom: 16px;
  }
}
.gearup-dash-image {
  width: 100%;
}

@media (max-width: 600px) {
  .gearup-image {
    /* width:343px;
    height:404px; */
    width: 100%;
  }
}
.button-component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
@media (max-width: 600px) {
  .section-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.section-image-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
@media (max-width: 600px) {
  .section-image-container {
    margin-bottom: 16px;
  }
}
.section-image {
  width: 480px;
}
@media (max-width: 600px) {
  .section-image {
    width: 358px;
  }
}
.section-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* .section-title{
  font-family: Segoe UI;
  font-size: 36px ;
  font-weight: 400 ;
  line-height: 44px ;
  letter-spacing: 0px;
  text-align: left;
  color:#F2FFF7
}
@media (max-width:600px){
  .section-title{
    font-family: Segoe UI;
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
  }
} */

.section-title-image {
  width: 44px;
  height: 44px;
}

@media (max-width: 600px) {
  .button-Component {
    display: flex;
    align-self: center;
  }
  .section-title-image {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 600px) {
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
}
/* .faq-title{
  color: var(--primary, #DFBC3B);
text-align: center;
font-family: Segoe UI;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 28px;
font-variant: all-small-caps;
letter-spacing: 0.3px;
}
@media (max-width: 600px) {
  .faq-title{
font-size: 16px;
line-height: 24px;
  }
} */

/* .faq-description{
  color: var(--title-header-text, #FFF);
text-align: center;
font-family: Segoe UI;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 44px;
text-transform: capitalize;
margin-bottom: 60px;
}
@media (max-width: 600px) {
  .faq-description{
font-size: 24px;
line-height: 32px;
  }
} */

.faq-button-icon {
  width: 17.2px;
  height: 16px;
}
.button {
  width: 40px;
  border-radius: 100px;
}
.faq-button {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: 20px;
}
@media (max-width: 600px) {
  .faq-button {
    width: 32px;
    height: 32px;
  }
}
.faq-question-container {
  padding: 24px 32px;
  gap: 40px;
  align-self: stretch;
  border-radius: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}
/* .faq-question{
color: #EDF5FF;
font-family: Segoe UI;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 32px;
width:'70%';
}
@media (max-width: 600px) {
  .faq-question{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
} */
/* .faq-answer{
    color: rgba(237, 245, 255, 0.72);
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 40px;
  }

  @media (max-width: 600px) {
    .faq-answer{
font-size: 16px;
line-height: 24px;
    }
  } */

.footer-logo-container {
  display: flex;
  padding: 24px 88px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.footer-title-container {
  max-width: 1104px;
}
@media (max-width: 600px) {
  .footer-title-container {
  }
  .footer-logo-container {
    padding: 16px;
  }
}

/* .border-container{
    width:"100%";
    border-bottom: 1px solid #555167;
    padding-bottom: 60px;
  } */

.faq-button-container {
  width: "100%";
  padding-top: 40px;
}

@media (min-width: 600px) {
  .faq-button-container {
    display: flex;
    justify-content: center;
  }
}
